nav{
    background: var(--color-bg);
    padding: .7rem 1.7rem;
    /* position: fixed; */
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    backdrop-filter: blur(100px);
}

nav a{
    /* background: transparent; */
    padding: .6rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    width: fit-content;
}

nav p{
    font-size: .8rem;
    color: var(--color-light);
    margin: 0%;
}

nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}